@media (max-width: 115.625rem) {
  .header {
    /* height: calc(1.5625rem + (100 - 25) * ((100vw - 22.5rem) / (1920 - 360))); */
    height: 7.5%;
  }

  .header-1 {
    font-size: calc(0.625rem + (30 - 10) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .header-2 {
    font-size: calc(0.625rem + (30 - 10) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .banner {
    /* height: calc(17.8125rem + (420 - 285) * ((100vw - 22.5rem) / (1920 - 360))); */
    height: 47.5%;
  }
  .banner__heading {
    right: calc(0.625rem + (250 - 10) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .banner__heading img {
    width: calc(10rem + (585 - 180) * ((100vw - 22.5rem) / (1920 - 360)));
    height: calc(3.125rem + (182 - 55) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .banner__age {
    top: calc(0.9375rem + (30 - 15) * ((100vw - 22.5rem) / (1920 - 360)));
    right: calc(1.125rem + (100 - 18) * ((100vw - 22.5rem) / (1920 - 360)));
    font-size: calc(1rem + (32 - 16) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .url:nth-child(1) img {
    width: calc(1.375rem + (67 - 22) * ((100vw - 22.5rem) / (1920 - 360)));
    height: calc(1rem + (52 - 16) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .url:nth-child(2) img {
    width: calc(2.0625rem + (99 - 33) * ((100vw - 22.5rem) / (1920 - 360)));
    height: calc(1.125rem + (55 - 18) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .url:nth-child(3) img {
    width: calc(3.1875rem + (156 - 51) * ((100vw - 22.5rem) / (1920 - 360)));
    height: calc(0.4375rem + (22 - 7) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .url:nth-child(4) img {
    width: calc(4rem + (195 - 64) * ((100vw - 22.5rem) / (1920 - 360)));
    height: calc(0.9375rem + (46 - 15) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .url:nth-child(5) img {
    width: calc(3.1875rem + (157 - 51) * ((100vw - 22.5rem) / (1920 - 360)));
    height: calc(0.875rem + (42 - 14) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .url:nth-child(6) img {
    width: calc(2.25rem + (108 - 51) * ((100vw - 22.5rem) / (1920 - 360)));
    height: calc(0.6875rem + (34 - 14) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .url:nth-child(7) img {
    width: calc(3.25rem + (157 - 51) * ((100vw - 22.5rem) / (1920 - 360)));
    height: calc(0.5rem + (25 - 14) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .url:nth-child(8) img {
    width: calc(2.9375rem + (143 - 47) * ((100vw - 22.5rem) / (1920 - 360)));
    height: calc(0.625rem + (32 - 10) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .url:nth-child(9) img {
    width: calc(3.125rem + (151 - 47) * ((100vw - 22.5rem) / (1920 - 360)));
    height: calc(0.625rem + (30 - 10) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .url:nth-child(10) img {
    width: calc(2.9375rem + (149 - 47) * ((100vw - 22.5rem) / (1920 - 360)));
    height: calc(0.9375rem + (56 - 15) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .url:nth-child(11) img {
    width: calc(1.25rem + (66 - 20) * ((100vw - 22.5rem) / (1920 - 360)));
    height: calc(1.125rem + (62 - 18) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .content__wrap {
    width: calc(20rem + (1610 - 320) * ((100vw - 22.5rem) / (1920 - 360)));
    margin-top: calc(0.9375rem + (35 - 15) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .content__wrap-item {
    width: calc(5.3125rem + (285 - 85) * ((100vw - 22.5rem) / (1920 - 360)));
    height: calc(1.25rem + (65 - 20) * ((100vw - 22.5rem) / (1920 - 360)));
    margin-bottom: calc(0.625rem + (25 - 10) * ((100vw - 22.5rem) / (1920 - 360)));
    margin-right: calc(0.3125rem + (20 - 5) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .content__title {
    height: calc(1.5625rem + (60 - 25) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .content__title h2 {
    font-size: calc(0.625rem + (30 - 10) * ((100vw - 22.5rem) / (1920 - 360)));
    width: calc(18.75rem + (954 - 320) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .footer {
    margin-top: calc(-0.3125rem + (25 - -5) * ((100vw - 22.5rem) / (1920 - 360)));
    padding-bottom: calc(0.5625rem + (18 - 9) * ((100vw - 22.5rem) / (1920 - 360)));
  }
  .footer h5 {
    font-size: calc(0.4375rem + (12 - 7) * ((100vw - 22.5rem) / (1920 - 360)));
  }
}

@media (max-width: 29.6875rem) {
  .br {
    display: block;
  }
  .banner {
    background: url("./img/mobile-banner.png") no-repeat center;
  }
  .banner__heading {
    display: flex;
    justify-content: center;
    align-items: end;
    right: 0;
  }
  .banner__heading img {
    margin-top: 0.625rem;
  }
}

@media (max-width: 50rem) {
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer h5 {
    margin-left: 0rem;
  }
  .url {
    padding-right: 0rem;
  }
  .content__wrap-item {
    border-radius: 0.125rem;
  }
}
@media (max-width: 64.0625rem) {
  html {
    font-size: 1.95vw;
  }
}
@media (max-width: 31.875rem) {
  .header {
    height: 5%;
  }
  .banner {
    height: 52.5%;
  }
}
@media (max-width: 49.375rem) {
  .content__wrap-item {
    width: 160px;
    height: 45px;
    border-radius: 9px;
  }
}
@media (max-width: 580px) {
  .content__wrap {
    height: 28vh;
  }
  .content__wrap-item {
    width: calc(86px + (150 - 90) * ((100vw - 320px) / (580 - 320)));
    height: calc(30px + (43 - 30) * ((100vw - 320px) / (580 - 320)));
    margin-bottom: auto;
  }
  .banner {
    height: 45%;
  }
  .content__title {
    height: 14vw;
  }
  .header {
    height: 10%;
  }
  .header-1 {
    font-size: 16px;
  }
  .header-2 {
    font-size: 16px;
  }
  .content__title h2 {
    font-size: 13.5px;
  }
  .content__wrap {
    margin-top: 8%;
  }
  .url:nth-child(1) img {
    width: calc(30px + (40 - 30) * ((100vw - 320px) / (580 - 320)));
    height: auto;
  }
  .url:nth-child(2) img {
    width: calc(39px + (47 - 39) * ((100vw - 320px) / (580 - 320)));
    height: auto;
  }
  .url:nth-child(3) img {
    width: calc(65px + (75 - 65) * ((100vw - 320px) / (580 - 320)));
    height: auto;
  }
  .url:nth-child(4) img {
    width: calc(70px + (95 - 70) * ((100vw - 22.5rem) / (580 - 320)));
    height: auto;
  }
  .url:nth-child(5) img {
    width: calc(56px + (70 - 56) * ((100vw - 22.5rem) / (580 - 320)));
    height: auto;
  }
  .url:nth-child(6) img {
    width: calc(40px + (45 - 40) * ((100vw - 22.5rem) / (580 - 320)));
    height: auto;
  }
  .url:nth-child(7) img {
    width: calc(66px + (78 - 66) * ((100vw - 22.5rem) / (580- 320)));
    height: auto;
  }
  .url:nth-child(8) img {
    width: calc(50px + (60 - 50) * ((100vw - 22.5rem) / (580 - 320)));
    height: auto;
  }
  .url:nth-child(9) img {
    width: calc(55px + (70 - 55) * ((100vw - 22.5rem) / (1920 - 320)));
    height: auto;
  }
  .url:nth-child(10) img {
    width: calc(65px+ (65 - 50) * ((100vw - 22.5rem) / (1920 - 320)));
    height: auto;
  }
  .url:nth-child(11) img {
    width: calc(25px+ (30 - 25) * ((100vw - 22.5rem) / (1920 - 320)));
    height: auto;
  }
}
